In [2]:
!pip install oracledb

Collecting oracledb
  Downloading oracledb-2.4.1-cp311-cp311-macosx_10_9_universal2.whl.metadata (5.2 kB)
Requirement already satisfied: cryptography>=3.2.1 in /opt/anaconda3/lib/python3.11/site-packages (from oracledb) (42.0.2)
Requirement already satisfied: cffi>=1.12 in /opt/anaconda3/lib/python3.11/site-packages (from cryptography>=3.2.1->oracledb) (1.16.0)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.21)
Downloading oracledb-2.4.1-cp311-cp311-macosx_10_9_universal2.whl (3.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.7/3.7 MB 4.9 MB/s eta 0:00:0000:0100:01m
Installing collected packages: oracledb
Successfully installed oracledb-2.4.1

In [5]:
import oracledb
import json

In [11]:
import oracledb

# Estabelecendo conexão
connection = oracledb.connect(
    user="PF1803",
    password="fiap24",
    dsn="oracle.fiap.com.br:1521/orcl" 
)

print("Conexão estabelecida com sucesso!")

Conexão estabelecida com sucesso!

In [16]:
import json

DATA_FILE = "oracle_conn.json"
file = open(DATA_FILE, 'r')
xfile = json.load(file)

connection = oracledb.connect(
    user=xfile["user"],
    password=xfile["password"],
    dsn=xfile["dsn"] 
)

TypeError: list indices must be integers or slices, not str

In [19]:
xfile[0]["user"]

TypeError: 'list' object is not callable

In [3]:

cursor = connection.cursor()

# Executando a consulta para listar as tabelas do esquema atual
cursor.execute("SELECT table_name FROM user_tables")

# Buscando e imprimindo todas as tabelas
tables = cursor.fetchone()

NameError: name 'connection' is not defined

In [164]:
tables

('IRIS',)

In [166]:
cursor.execute("select * from IRIS")
iris = cursor.fetchall()

In [167]:
iris

[(3, 5.1, 3.5, 1.4, 0.2, 0, 'Iris-setosa'),
 (4, 4.9, 3.0, 1.4, 0.2, 0, 'Iris-setosa'),
 (5, 4.7, 3.2, 1.3, 0.2, 0, 'Iris-setosa'),
 (6, 4.6, 3.1, 1.5, 0.2, 0, 'Iris-setosa'),
 (7, 5.0, 3.6, 1.4, 0.2, 0, 'Iris-setosa'),
 (8, 5.4, 3.9, 1.7, 0.4, 0, 'Iris-setosa'),
 (9, 4.6, 3.4, 1.4, 0.3, 0, 'Iris-setosa'),
 (10, 5.0, 3.4, 1.5, 0.2, 0, 'Iris-setosa'),
 (11, 4.4, 2.9, 1.4, 0.2, 0, 'Iris-setosa'),
 (12, 4.9, 3.1, 1.5, 0.1, 0, 'Iris-setosa'),
 (13, 5.4, 3.7, 1.5, 0.2, 0, 'Iris-setosa'),
 (14, 4.8, 3.4, 1.6, 0.2, 0, 'Iris-setosa'),
 (15, 4.8, 3.0, 1.4, 0.1, 0, 'Iris-setosa'),
 (16, 4.3, 3.0, 1.1, 0.1, 0, 'Iris-setosa'),
 (17, 5.8, 4.0, 1.2, 0.2, 0, 'Iris-setosa'),
 (18, 5.7, 4.4, 1.5, 0.4, 0, 'Iris-setosa'),
 (19, 5.4, 3.9, 1.3, 0.4, 0, 'Iris-setosa'),
 (20, 5.1, 3.5, 1.4, 0.3, 0, 'Iris-setosa'),
 (21, 5.7, 3.8, 1.7, 0.3, 0, 'Iris-setosa'),
 (22, 5.1, 3.8, 1.5, 0.3, 0, 'Iris-setosa'),
 (23, 5.4, 3.4, 1.7, 0.2, 0, 'Iris-setosa'),
 (24, 5.1, 3.7, 1.5, 0.4, 0, 'Iris-setosa'),
 (25, 4.6, 3.6, 1.0, 0.2, 0, 'Iris-setosa'),
 (26, 5.1, 3.3, 1.7, 0.5, 0, 'Iris-setosa'),
 (27, 4.8, 3.4, 1.9, 0.2, 0, 'Iris-setosa'),
 (28, 5.0, 3.0, 1.6, 0.2, 0, 'Iris-setosa'),
 (29, 5.0, 3.4, 1.6, 0.4, 0, 'Iris-setosa'),
 (30, 5.2, 3.5, 1.5, 0.2, 0, 'Iris-setosa'),
 (31, 5.2, 3.4, 1.4, 0.2, 0, 'Iris-setosa'),
 (32, 4.7, 3.2, 1.6, 0.2, 0, 'Iris-setosa'),
 (33, 4.8, 3.1, 1.6, 0.2, 0, 'Iris-setosa'),
 (34, 5.4, 3.4, 1.5, 0.4, 0, 'Iris-setosa'),
 (35, 5.2, 4.1, 1.5, 0.1, 0, 'Iris-setosa'),
 (36, 5.5, 4.2, 1.4, 0.2, 0, 'Iris-setosa'),
 (37, 4.9, 3.1, 1.5, 0.1, 0, 'Iris-setosa'),
 (38, 5.0, 3.2, 1.2, 0.2, 0, 'Iris-setosa'),
 (39, 5.5, 3.5, 1.3, 0.2, 0, 'Iris-setosa'),
 (40, 4.9, 3.1, 1.5, 0.1, 0, 'Iris-setosa'),
 (41, 4.4, 3.0, 1.3, 0.2, 0, 'Iris-setosa'),
 (42, 5.1, 3.4, 1.5, 0.2, 0, 'Iris-setosa'),
 (43, 5.0, 3.5, 1.3, 0.3, 0, 'Iris-setosa'),
 (44, 4.5, 2.3, 1.3, 0.3, 0, 'Iris-setosa'),
 (45, 4.4, 3.2, 1.3, 0.2, 0, 'Iris-setosa'),
 (46, 5.0, 3.5, 1.6, 0.6, 0, 'Iris-setosa'),
 (47, 5.1, 3.8, 1.9, 0.4, 0, 'Iris-setosa'),
 (48, 4.8, 3.0, 1.4, 0.3, 0, 'Iris-setosa'),
 (49, 5.1, 3.8, 1.6, 0.2, 0, 'Iris-setosa'),
 (50, 4.6, 3.2, 1.4, 0.2, 0, 'Iris-setosa'),
 (51, 5.3, 3.7, 1.5, 0.2, 0, 'Iris-setosa'),
 (52, 5.0, 3.3, 1.4, 0.2, 0, 'Iris-setosa'),
 (53, 7.0, 3.2, 4.7, 1.4, 1, 'Iris-versicolor'),
 (54, 6.4, 3.2, 4.5, 1.5, 1, 'Iris-versicolor'),
 (55, 6.9, 3.1, 4.9, 1.5, 1, 'Iris-versicolor'),
 (56, 5.5, 2.3, 4.0, 1.3, 1, 'Iris-versicolor'),
 (57, 6.5, 2.8, 4.6, 1.5, 1, 'Iris-versicolor'),
 (58, 5.7, 2.8, 4.5, 1.3, 1, 'Iris-versicolor'),
 (59, 6.3, 3.3, 4.7, 1.6, 1, 'Iris-versicolor'),
 (60, 4.9, 2.4, 3.3, 1.0, 1, 'Iris-versicolor'),
 (61, 6.6, 2.9, 4.6, 1.3, 1, 'Iris-versicolor'),
 (62, 5.2, 2.7, 3.9, 1.4, 1, 'Iris-versicolor'),
 (63, 5.0, 2.0, 3.5, 1.0, 1, 'Iris-versicolor'),
 (64, 5.9, 3.0, 4.2, 1.5, 1, 'Iris-versicolor'),
 (65, 6.0, 2.2, 4.0, 1.0, 1, 'Iris-versicolor'),
 (66, 6.1, 2.9, 4.7, 1.4, 1, 'Iris-versicolor'),
 (67, 5.6, 2.9, 3.6, 1.3, 1, 'Iris-versicolor'),
 (68, 6.7, 3.1, 4.4, 1.4, 1, 'Iris-versicolor'),
 (69, 5.6, 3.0, 4.5, 1.5, 1, 'Iris-versicolor'),
 (70, 5.8, 2.7, 4.1, 1.0, 1, 'Iris-versicolor'),
 (71, 6.2, 2.2, 4.5, 1.5, 1, 'Iris-versicolor'),
 (72, 5.6, 2.5, 3.9, 1.1, 1, 'Iris-versicolor'),
 (73, 5.9, 3.2, 4.8, 1.8, 1, 'Iris-versicolor'),
 (74, 6.1, 2.8, 4.0, 1.3, 1, 'Iris-versicolor'),
 (75, 6.3, 2.5, 4.9, 1.5, 1, 'Iris-versicolor'),
 (76, 6.1, 2.8, 4.7, 1.2, 1, 'Iris-versicolor'),
 (77, 6.4, 2.9, 4.3, 1.3, 1, 'Iris-versicolor'),
 (78, 6.6, 3.0, 4.4, 1.4, 1, 'Iris-versicolor'),
 (79, 6.8, 2.8, 4.8, 1.4, 1, 'Iris-versicolor'),
 (80, 6.7, 3.0, 5.0, 1.7, 1, 'Iris-versicolor'),
 (81, 6.0, 2.9, 4.5, 1.5, 1, 'Iris-versicolor'),
 (82, 5.7, 2.6, 3.5, 1.0, 1, 'Iris-versicolor'),
 (83, 5.5, 2.4, 3.8, 1.1, 1, 'Iris-versicolor'),
 (84, 5.5, 2.4, 3.7, 1.0, 1, 'Iris-versicolor'),
 (85, 5.8, 2.7, 3.9, 1.2, 1, 'Iris-versicolor'),
 (86, 6.0, 2.7, 5.1, 1.6, 1, 'Iris-versicolor'),
 (87, 5.4, 3.0, 4.5, 1.5, 1, 'Iris-versicolor'),
 (88, 6.0, 3.4, 4.5, 1.6, 1, 'Iris-versicolor'),
 (89, 6.7, 3.1, 4.7, 1.5, 1, 'Iris-versicolor'),
 (90, 6.3, 2.3, 4.4, 1.3, 1, 'Iris-versicolor'),
 (91, 5.6, 3.0, 4.1, 1.3, 1, 'Iris-versicolor'),
 (92, 5.5, 2.5, 4.0, 1.3, 1, 'Iris-versicolor'),
 (93, 5.5, 2.6, 4.4, 1.2, 1, 'Iris-versicolor'),
 (94, 6.1, 3.0, 4.6, 1.4, 1, 'Iris-versicolor'),
 (95, 5.8, 2.6, 4.0, 1.2, 1, 'Iris-versicolor'),
 (96, 5.0, 2.3, 3.3, 1.0, 1, 'Iris-versicolor'),
 (97, 5.6, 2.7, 4.2, 1.3, 1, 'Iris-versicolor'),
 (98, 5.7, 3.0, 4.2, 1.2, 1, 'Iris-versicolor'),
 (99, 5.7, 2.9, 4.2, 1.3, 1, 'Iris-versicolor'),
 (100, 6.2, 2.9, 4.3, 1.3, 1, 'Iris-versicolor'),
 (101, 5.1, 2.5, 3.0, 1.1, 1, 'Iris-versicolor'),
 (102, 5.7, 2.8, 4.1, 1.3, 1, 'Iris-versicolor'),
 (103, 6.3, 3.3, 6.0, 2.5, 2, 'Iris-virginica'),
 (104, 5.8, 2.7, 5.1, 1.9, 2, 'Iris-virginica'),
 (105, 7.1, 3.0, 5.9, 2.1, 2, 'Iris-virginica'),
 (106, 6.3, 2.9, 5.6, 1.8, 2, 'Iris-virginica'),
 (107, 6.5, 3.0, 5.8, 2.2, 2, 'Iris-virginica'),
 (108, 7.6, 3.0, 6.6, 2.1, 2, 'Iris-virginica'),
 (109, 4.9, 2.5, 4.5, 1.7, 2, 'Iris-virginica'),
 (110, 7.3, 2.9, 6.3, 1.8, 2, 'Iris-virginica'),
 (111, 6.7, 2.5, 5.8, 1.8, 2, 'Iris-virginica'),
 (112, 7.2, 3.6, 6.1, 2.5, 2, 'Iris-virginica'),
 (113, 6.5, 3.2, 5.1, 2.0, 2, 'Iris-virginica'),
 (114, 6.4, 2.7, 5.3, 1.9, 2, 'Iris-virginica'),
 (115, 6.8, 3.0, 5.5, 2.1, 2, 'Iris-virginica'),
 (116, 5.7, 2.5, 5.0, 2.0, 2, 'Iris-virginica'),
 (117, 5.8, 2.8, 5.1, 2.4, 2, 'Iris-virginica'),
 (118, 6.4, 3.2, 5.3, 2.3, 2, 'Iris-virginica'),
 (119, 6.5, 3.0, 5.5, 1.8, 2, 'Iris-virginica'),
 (120, 7.7, 3.8, 6.7, 2.2, 2, 'Iris-virginica'),
 (121, 7.7, 2.6, 6.9, 2.3, 2, 'Iris-virginica'),
 (122, 6.0, 2.2, 5.0, 1.5, 2, 'Iris-virginica'),
 (123, 6.9, 3.2, 5.7, 2.3, 2, 'Iris-virginica'),
 (124, 5.6, 2.8, 4.9, 2.0, 2, 'Iris-virginica'),
 (125, 7.7, 2.8, 6.7, 2.0, 2, 'Iris-virginica'),
 (126, 6.3, 2.7, 4.9, 1.8, 2, 'Iris-virginica'),
 (127, 6.7, 3.3, 5.7, 2.1, 2, 'Iris-virginica'),
 (128, 7.2, 3.2, 6.0, 1.8, 2, 'Iris-virginica'),
 (129, 6.2, 2.8, 4.8, 1.8, 2, 'Iris-virginica'),
 (130, 6.1, 3.0, 4.9, 1.8, 2, 'Iris-virginica'),
 (131, 6.4, 2.8, 5.6, 2.1, 2, 'Iris-virginica'),
 (132, 7.2, 3.0, 5.8, 1.6, 2, 'Iris-virginica'),
 (133, 7.4, 2.8, 6.1, 1.9, 2, 'Iris-virginica'),
 (134, 7.9, 3.8, 6.4, 2.0, 2, 'Iris-virginica'),
 (135, 6.4, 2.8, 5.6, 2.2, 2, 'Iris-virginica'),
 (136, 6.3, 2.8, 5.1, 1.5, 2, 'Iris-virginica'),
 (137, 6.1, 2.6, 5.6, 1.4, 2, 'Iris-virginica'),
 (138, 7.7, 3.0, 6.1, 2.3, 2, 'Iris-virginica'),
 (139, 6.3, 3.4, 5.6, 2.4, 2, 'Iris-virginica'),
 (140, 6.4, 3.1, 5.5, 1.8, 2, 'Iris-virginica'),
 (141, 6.0, 3.0, 4.8, 1.8, 2, 'Iris-virginica'),
 (142, 6.9, 3.1, 5.4, 2.1, 2, 'Iris-virginica'),
 (143, 6.7, 3.1, 5.6, 2.4, 2, 'Iris-virginica'),
 (144, 6.9, 3.1, 5.1, 2.3, 2, 'Iris-virginica'),
 (145, 5.8, 2.7, 5.1, 1.9, 2, 'Iris-virginica'),
 (146, 6.8, 3.2, 5.9, 2.3, 2, 'Iris-virginica'),
 (147, 6.7, 3.3, 5.7, 2.5, 2, 'Iris-virginica'),
 (148, 6.7, 3.0, 5.2, 2.3, 2, 'Iris-virginica'),
 (149, 6.3, 2.5, 5.0, 1.9, 2, 'Iris-virginica'),
 (150, 6.5, 3.0, 5.2, 2.0, 2, 'Iris-virginica'),
 (151, 6.2, 3.4, 5.4, 2.3, 2, 'Iris-virginica'),
 (152, 5.9, 3.0, 5.1, 1.8, 2, 'Iris-virginica')]

In [150]:
df = pd.read_csv('iris.csv')

In [151]:
df

,sepal_length,sepal_width,petal_length,petal_width,class_id,class
0,5.1,3.5,1.4,0.2,0,Iris-setosa
1,4.9,3.0,1.4,0.2,0,Iris-setosa
2,4.7,3.2,1.3,0.2,0,Iris-setosa
3,4.6,3.1,1.5,0.2,0,Iris-setosa
4,5.0,3.6,1.4,0.2,0,Iris-setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,Iris-virginica
146,6.3,2.5,5.0,1.9,2,Iris-virginica
147,6.5,3.0,5.2,2.0,2,Iris-virginica
148,6.2,3.4,5.4,2.3,2,Iris-virginica
149,5.9,3.0,5.1,1.8,2,Iris-virginica

In [155]:
df['petal_width'] = df['petal_width'].astype(float)

In [138]:
create_table_query = '''
CREATE TABLE iris (
    id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    sepal_length FLOAT,
    sepal_width FLOAT,
    petal_length FLOAT,
    petal_width FLOAT,
    class_id NUMBER,
    class VARCHAR2(50)
)
'''

cursor.execute(create_table_query)
print("Tabela 'pessoas' criada com sucesso.")

Tabela 'pessoas' criada com sucesso.

DatabaseError: ORA-01722: invalid number
Help: https://docs.oracle.com/error-help/db/ora-01722/

In [156]:
insert_query = '''
INSERT INTO iris (sepal_length, sepal_width, petal_length, petal_width, class_id, class)
VALUES (:1, :2, :3, :4, :5, :6)
'''

# Converter o DataFrame para uma lista de tuplas
data = [tuple(row) for row in df.itertuples(index=False)]

In [157]:
data

[(5.1, 3.5, 1.4, 0.2, 0, 'Iris-setosa'),
 (4.9, 3.0, 1.4, 0.2, 0, 'Iris-setosa'),
 (4.7, 3.2, 1.3, 0.2, 0, 'Iris-setosa'),
 (4.6, 3.1, 1.5, 0.2, 0, 'Iris-setosa'),
 (5.0, 3.6, 1.4, 0.2, 0, 'Iris-setosa'),
 (5.4, 3.9, 1.7, 0.4, 0, 'Iris-setosa'),
 (4.6, 3.4, 1.4, 0.3, 0, 'Iris-setosa'),
 (5.0, 3.4, 1.5, 0.2, 0, 'Iris-setosa'),
 (4.4, 2.9, 1.4, 0.2, 0, 'Iris-setosa'),
 (4.9, 3.1, 1.5, 0.1, 0, 'Iris-setosa'),
 (5.4, 3.7, 1.5, 0.2, 0, 'Iris-setosa'),
 (4.8, 3.4, 1.6, 0.2, 0, 'Iris-setosa'),
 (4.8, 3.0, 1.4, 0.1, 0, 'Iris-setosa'),
 (4.3, 3.0, 1.1, 0.1, 0, 'Iris-setosa'),
 (5.8, 4.0, 1.2, 0.2, 0, 'Iris-setosa'),
 (5.7, 4.4, 1.5, 0.4, 0, 'Iris-setosa'),
 (5.4, 3.9, 1.3, 0.4, 0, 'Iris-setosa'),
 (5.1, 3.5, 1.4, 0.3, 0, 'Iris-setosa'),
 (5.7, 3.8, 1.7, 0.3, 0, 'Iris-setosa'),
 (5.1, 3.8, 1.5, 0.3, 0, 'Iris-setosa'),
 (5.4, 3.4, 1.7, 0.2, 0, 'Iris-setosa'),
 (5.1, 3.7, 1.5, 0.4, 0, 'Iris-setosa'),
 (4.6, 3.6, 1.0, 0.2, 0, 'Iris-setosa'),
 (5.1, 3.3, 1.7, 0.5, 0, 'Iris-setosa'),
 (4.8, 3.4, 1.9, 0.2, 0, 'Iris-setosa'),
 (5.0, 3.0, 1.6, 0.2, 0, 'Iris-setosa'),
 (5.0, 3.4, 1.6, 0.4, 0, 'Iris-setosa'),
 (5.2, 3.5, 1.5, 0.2, 0, 'Iris-setosa'),
 (5.2, 3.4, 1.4, 0.2, 0, 'Iris-setosa'),
 (4.7, 3.2, 1.6, 0.2, 0, 'Iris-setosa'),
 (4.8, 3.1, 1.6, 0.2, 0, 'Iris-setosa'),
 (5.4, 3.4, 1.5, 0.4, 0, 'Iris-setosa'),
 (5.2, 4.1, 1.5, 0.1, 0, 'Iris-setosa'),
 (5.5, 4.2, 1.4, 0.2, 0, 'Iris-setosa'),
 (4.9, 3.1, 1.5, 0.1, 0, 'Iris-setosa'),
 (5.0, 3.2, 1.2, 0.2, 0, 'Iris-setosa'),
 (5.5, 3.5, 1.3, 0.2, 0, 'Iris-setosa'),
 (4.9, 3.1, 1.5, 0.1, 0, 'Iris-setosa'),
 (4.4, 3.0, 1.3, 0.2, 0, 'Iris-setosa'),
 (5.1, 3.4, 1.5, 0.2, 0, 'Iris-setosa'),
 (5.0, 3.5, 1.3, 0.3, 0, 'Iris-setosa'),
 (4.5, 2.3, 1.3, 0.3, 0, 'Iris-setosa'),
 (4.4, 3.2, 1.3, 0.2, 0, 'Iris-setosa'),
 (5.0, 3.5, 1.6, 0.6, 0, 'Iris-setosa'),
 (5.1, 3.8, 1.9, 0.4, 0, 'Iris-setosa'),
 (4.8, 3.0, 1.4, 0.3, 0, 'Iris-setosa'),
 (5.1, 3.8, 1.6, 0.2, 0, 'Iris-setosa'),
 (4.6, 3.2, 1.4, 0.2, 0, 'Iris-setosa'),
 (5.3, 3.7, 1.5, 0.2, 0, 'Iris-setosa'),
 (5.0, 3.3, 1.4, 0.2, 0, 'Iris-setosa'),
 (7.0, 3.2, 4.7, 1.4, 1, 'Iris-versicolor'),
 (6.4, 3.2, 4.5, 1.5, 1, 'Iris-versicolor'),
 (6.9, 3.1, 4.9, 1.5, 1, 'Iris-versicolor'),
 (5.5, 2.3, 4.0, 1.3, 1, 'Iris-versicolor'),
 (6.5, 2.8, 4.6, 1.5, 1, 'Iris-versicolor'),
 (5.7, 2.8, 4.5, 1.3, 1, 'Iris-versicolor'),
 (6.3, 3.3, 4.7, 1.6, 1, 'Iris-versicolor'),
 (4.9, 2.4, 3.3, 1.0, 1, 'Iris-versicolor'),
 (6.6, 2.9, 4.6, 1.3, 1, 'Iris-versicolor'),
 (5.2, 2.7, 3.9, 1.4, 1, 'Iris-versicolor'),
 (5.0, 2.0, 3.5, 1.0, 1, 'Iris-versicolor'),
 (5.9, 3.0, 4.2, 1.5, 1, 'Iris-versicolor'),
 (6.0, 2.2, 4.0, 1.0, 1, 'Iris-versicolor'),
 (6.1, 2.9, 4.7, 1.4, 1, 'Iris-versicolor'),
 (5.6, 2.9, 3.6, 1.3, 1, 'Iris-versicolor'),
 (6.7, 3.1, 4.4, 1.4, 1, 'Iris-versicolor'),
 (5.6, 3.0, 4.5, 1.5, 1, 'Iris-versicolor'),
 (5.8, 2.7, 4.1, 1.0, 1, 'Iris-versicolor'),
 (6.2, 2.2, 4.5, 1.5, 1, 'Iris-versicolor'),
 (5.6, 2.5, 3.9, 1.1, 1, 'Iris-versicolor'),
 (5.9, 3.2, 4.8, 1.8, 1, 'Iris-versicolor'),
 (6.1, 2.8, 4.0, 1.3, 1, 'Iris-versicolor'),
 (6.3, 2.5, 4.9, 1.5, 1, 'Iris-versicolor'),
 (6.1, 2.8, 4.7, 1.2, 1, 'Iris-versicolor'),
 (6.4, 2.9, 4.3, 1.3, 1, 'Iris-versicolor'),
 (6.6, 3.0, 4.4, 1.4, 1, 'Iris-versicolor'),
 (6.8, 2.8, 4.8, 1.4, 1, 'Iris-versicolor'),
 (6.7, 3.0, 5.0, 1.7, 1, 'Iris-versicolor'),
 (6.0, 2.9, 4.5, 1.5, 1, 'Iris-versicolor'),
 (5.7, 2.6, 3.5, 1.0, 1, 'Iris-versicolor'),
 (5.5, 2.4, 3.8, 1.1, 1, 'Iris-versicolor'),
 (5.5, 2.4, 3.7, 1.0, 1, 'Iris-versicolor'),
 (5.8, 2.7, 3.9, 1.2, 1, 'Iris-versicolor'),
 (6.0, 2.7, 5.1, 1.6, 1, 'Iris-versicolor'),
 (5.4, 3.0, 4.5, 1.5, 1, 'Iris-versicolor'),
 (6.0, 3.4, 4.5, 1.6, 1, 'Iris-versicolor'),
 (6.7, 3.1, 4.7, 1.5, 1, 'Iris-versicolor'),
 (6.3, 2.3, 4.4, 1.3, 1, 'Iris-versicolor'),
 (5.6, 3.0, 4.1, 1.3, 1, 'Iris-versicolor'),
 (5.5, 2.5, 4.0, 1.3, 1, 'Iris-versicolor'),
 (5.5, 2.6, 4.4, 1.2, 1, 'Iris-versicolor'),
 (6.1, 3.0, 4.6, 1.4, 1, 'Iris-versicolor'),
 (5.8, 2.6, 4.0, 1.2, 1, 'Iris-versicolor'),
 (5.0, 2.3, 3.3, 1.0, 1, 'Iris-versicolor'),
 (5.6, 2.7, 4.2, 1.3, 1, 'Iris-versicolor'),
 (5.7, 3.0, 4.2, 1.2, 1, 'Iris-versicolor'),
 (5.7, 2.9, 4.2, 1.3, 1, 'Iris-versicolor'),
 (6.2, 2.9, 4.3, 1.3, 1, 'Iris-versicolor'),
 (5.1, 2.5, 3.0, 1.1, 1, 'Iris-versicolor'),
 (5.7, 2.8, 4.1, 1.3, 1, 'Iris-versicolor'),
 (6.3, 3.3, 6.0, 2.5, 2, 'Iris-virginica'),
 (5.8, 2.7, 5.1, 1.9, 2, 'Iris-virginica'),
 (7.1, 3.0, 5.9, 2.1, 2, 'Iris-virginica'),
 (6.3, 2.9, 5.6, 1.8, 2, 'Iris-virginica'),
 (6.5, 3.0, 5.8, 2.2, 2, 'Iris-virginica'),
 (7.6, 3.0, 6.6, 2.1, 2, 'Iris-virginica'),
 (4.9, 2.5, 4.5, 1.7, 2, 'Iris-virginica'),
 (7.3, 2.9, 6.3, 1.8, 2, 'Iris-virginica'),
 (6.7, 2.5, 5.8, 1.8, 2, 'Iris-virginica'),
 (7.2, 3.6, 6.1, 2.5, 2, 'Iris-virginica'),
 (6.5, 3.2, 5.1, 2.0, 2, 'Iris-virginica'),
 (6.4, 2.7, 5.3, 1.9, 2, 'Iris-virginica'),
 (6.8, 3.0, 5.5, 2.1, 2, 'Iris-virginica'),
 (5.7, 2.5, 5.0, 2.0, 2, 'Iris-virginica'),
 (5.8, 2.8, 5.1, 2.4, 2, 'Iris-virginica'),
 (6.4, 3.2, 5.3, 2.3, 2, 'Iris-virginica'),
 (6.5, 3.0, 5.5, 1.8, 2, 'Iris-virginica'),
 (7.7, 3.8, 6.7, 2.2, 2, 'Iris-virginica'),
 (7.7, 2.6, 6.9, 2.3, 2, 'Iris-virginica'),
 (6.0, 2.2, 5.0, 1.5, 2, 'Iris-virginica'),
 (6.9, 3.2, 5.7, 2.3, 2, 'Iris-virginica'),
 (5.6, 2.8, 4.9, 2.0, 2, 'Iris-virginica'),
 (7.7, 2.8, 6.7, 2.0, 2, 'Iris-virginica'),
 (6.3, 2.7, 4.9, 1.8, 2, 'Iris-virginica'),
 (6.7, 3.3, 5.7, 2.1, 2, 'Iris-virginica'),
 (7.2, 3.2, 6.0, 1.8, 2, 'Iris-virginica'),
 (6.2, 2.8, 4.8, 1.8, 2, 'Iris-virginica'),
 (6.1, 3.0, 4.9, 1.8, 2, 'Iris-virginica'),
 (6.4, 2.8, 5.6, 2.1, 2, 'Iris-virginica'),
 (7.2, 3.0, 5.8, 1.6, 2, 'Iris-virginica'),
 (7.4, 2.8, 6.1, 1.9, 2, 'Iris-virginica'),
 (7.9, 3.8, 6.4, 2.0, 2, 'Iris-virginica'),
 (6.4, 2.8, 5.6, 2.2, 2, 'Iris-virginica'),
 (6.3, 2.8, 5.1, 1.5, 2, 'Iris-virginica'),
 (6.1, 2.6, 5.6, 1.4, 2, 'Iris-virginica'),
 (7.7, 3.0, 6.1, 2.3, 2, 'Iris-virginica'),
 (6.3, 3.4, 5.6, 2.4, 2, 'Iris-virginica'),
 (6.4, 3.1, 5.5, 1.8, 2, 'Iris-virginica'),
 (6.0, 3.0, 4.8, 1.8, 2, 'Iris-virginica'),
 (6.9, 3.1, 5.4, 2.1, 2, 'Iris-virginica'),
 (6.7, 3.1, 5.6, 2.4, 2, 'Iris-virginica'),
 (6.9, 3.1, 5.1, 2.3, 2, 'Iris-virginica'),
 (5.8, 2.7, 5.1, 1.9, 2, 'Iris-virginica'),
 (6.8, 3.2, 5.9, 2.3, 2, 'Iris-virginica'),
 (6.7, 3.3, 5.7, 2.5, 2, 'Iris-virginica'),
 (6.7, 3.0, 5.2, 2.3, 2, 'Iris-virginica'),
 (6.3, 2.5, 5.0, 1.9, 2, 'Iris-virginica'),
 (6.5, 3.0, 5.2, 2.0, 2, 'Iris-virginica'),
 (6.2, 3.4, 5.4, 2.3, 2, 'Iris-virginica'),
 (5.9, 3.0, 5.1, 1.8, 2, 'Iris-virginica')]

In [158]:
# Inserir os dados na tabela 'iris'
cursor.executemany(insert_query, data)
connection.commit()

print(f"{cursor.rowcount} registros inseridos com sucesso.")

# Fechar o cursor e a conexão
cursor.close()
connection.close()

150 registros inseridos com sucesso.

In [168]:
cursor.execute("select count(*) from IRIS")
qtd = cursor.fetchone()
qtd[0]

150

In [169]:
cursor.execute("select count(*) from IRIS")
qtd = cursor.fetchone()

for i in range(0, qtd[0], 25):
    inicio = i + 1
    fim = inicio + 24
    query = f"""
    SELECT * FROM (
        SELECT a.*, ROWNUM rnum
        FROM (SELECT * FROM IRIS order by SEPAL_LENGTH ) a
        WHERE ROWNUM <= {fim}
    )
    WHERE rnum >= {inicio}
    """

    df = pd.read_sql(query, con=connection)
    print(df["TARGET_NAME"])

/var/folders/m2/t9xgwjd522g9rwj15_vlxhlr0000gn/T/ipykernel_12669/2937416063.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=connection)

KeyError: 'TARGET_NAME'

In [93]:
df

,SEPAL_LENGTH,SEPAL_WIDTH,PETAL_LENGTH,PETAL_WIDTH,TARGET,TARGET_NAME,RNUM
0,4.3,3.0,1.1,0.1,0,setosa,1
1,4.4,2.9,1.4,0.2,0,setosa,2
2,4.4,3.2,1.3,0.2,0,setosa,3
3,4.4,3.0,1.3,0.2,0,setosa,4
4,4.5,2.3,1.3,0.3,0,setosa,5
5,4.6,3.1,1.5,0.2,0,setosa,6
6,4.6,3.2,1.4,0.2,0,setosa,7
7,4.6,3.6,1.0,0.2,0,setosa,8
8,4.6,3.4,1.4,0.3,0,setosa,9
9,4.7,3.2,1.3,0.2,0,setosa,10
10,4.7,3.2,1.6,0.2,0,setosa,11
11,4.8,3.4,1.6,0.2,0,setosa,12
12,4.8,3.0,1.4,0.3,0,setosa,13
13,4.8,3.1,1.6,0.2,0,setosa,14
14,4.8,3.4,1.9,0.2,0,setosa,15
15,4.8,3.0,1.4,0.1,0,setosa,16
16,4.9,3.0,1.4,0.2,0,setosa,17
17,4.9,2.5,4.5,1.7,2,virginica,18
18,4.9,2.4,3.3,1.0,1,versicolor,19
19,4.9,3.6,1.4,0.1,0,setosa,20
20,4.9,3.1,1.5,0.2,0,setosa,21
21,4.9,3.1,1.5,0.1,0,setosa,22
22,5.0,3.6,1.4,0.2,0,setosa,23
23,5.0,3.0,1.6,0.2,0,setosa,24
24,5.0,3.4,1.5,0.2,0,setosa,25

In [65]:
cursor.execute("select count(*) from IRIS")
iris = cursor.fetchone()
iris

(150,)

In [111]:
import oracledb

# Estabelecendo conexão
connection = oracledb.connect(
    user="PF1869",
    password="fiap24",
    dsn="oracle.fiap.com.br:1521/orcl" 
)

In [1]:
import pandas as pd
import oracledb
import json

DATA_FILE = "oracle_conn.json"
file = open(DATA_FILE, 'r')
xfile = json.load(file)

connection = oracledb.connect(
    user=xfile[0]["user"],
    password=xfile[0]["password"],
    dsn=xfile[0]["dsn"] 
)

query = "SELECT * FROM IRIS"

# Executando a consulta e carregando os dados em um DataFrame
df = pd.read_sql(query, con=connection)

connection.close()

/var/folders/m2/t9xgwjd522g9rwj15_vlxhlr0000gn/T/ipykernel_51298/3331825988.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=connection)

In [2]:
df

,ID,SEPAL_LENGTH,SEPAL_WIDTH,PETAL_LENGTH,PETAL_WIDTH,CLASS_ID,CLASS
0,3,5.1,3.5,1.4,0.2,0,Iris-setosa
1,4,4.9,3.0,1.4,0.2,0,Iris-setosa
2,5,4.7,3.2,1.3,0.2,0,Iris-setosa
3,6,4.6,3.1,1.5,0.2,0,Iris-setosa
4,7,5.0,3.6,1.4,0.2,0,Iris-setosa
...,...,...,...,...,...,...,...
145,148,6.7,3.0,5.2,2.3,2,Iris-virginica
146,149,6.3,2.5,5.0,1.9,2,Iris-virginica
147,150,6.5,3.0,5.2,2.0,2,Iris-virginica
148,151,6.2,3.4,5.4,2.3,2,Iris-virginica
149,152,5.9,3.0,5.1,1.8,2,Iris-virginica

In [ ]:
DATA_FILE = "oracle_conn.json"
file = open(DATA_FILE, 'r')
xfile = json.load(file)

connection = oracledb.connect(
    user=xfile[0]["user"],
    password=xfile[0]["password"],
    dsn=xfile[0]["dsn"] 
)


SEPAL_LENGTH = 7
SEPAL_WIDTH = 7
PETAL_LENGTH = 7
PETAL_WIDTH = 7
CLASS_ID = 7


cursor = connection.cursor()

cursor.execute("SELECT MAX(ID) FROM IRIS")
row = cursor.fetchone()

ID = row[0] + 1

seleciona = "SELECT DISTINCT(CLASS) FROM IRIS WHERE CLASS_ID = " + str(CLASS_ID)
cursor.execute(seleciona)
row = cursor.fetchone()

CLASS = row[0]

print(ID, SEPAL_LENGTH, SEPAL_WIDTH, PETAL_LENGTH, PETAL_WIDTH , CLASS_ID, CLASS)

# Consulta SQL para inserir um novo produto
cursor.execute("""
    INSERT INTO IRIS (ID, SEPAL_LENGTH, SEPAL_WIDTH, PETAL_LENGTH, PETAL_WIDTH , CLASS_ID, CLASS)
    VALUES (:ID, :SEPAL_LENGTH, :SEPAL_WIDTH, :PETAL_LENGTH, :PETAL_WIDTH , :CLASS_ID, :CLASS)
""", [ID, SEPAL_LENGTH, SEPAL_WIDTH, PETAL_LENGTH, PETAL_WIDTH , CLASS_ID, CLASS])

connection.commit()  # Confirma a transação
cursor.close()
connection.close()

In [173]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error, accuracy_score

X = df.drop(columns=['CLASS_ID', "CLASS"])
y = df['CLASS_ID']

# Divida os dados em conjuntos de treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Crie o modelo de Random Forest
model = RandomForestClassifier(n_estimators=50, random_state=42)  # Para classificação

# Treine o modelo
model.fit(X_train, y_train)

# Faça previsões no conjunto de teste
y_pred = model.predict(X_test)

# Avalie o modelo (para regressão)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(f"RMSE: {rmse}")

# Avalie o modelo (para classificação, descomente as linhas abaixo e comente as linhas de regressão acima)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

# Exiba as primeiras previsões e os valores reais
print("\nPrevisões:")
print(y_pred[:10])
print("\nValores Reais:")
print(y_test.head(10))

RMSE: 0.0
Accuracy: 1.0

Previsões:
[1 0 2 1 1 0 1 2 1 1]

Valores Reais:
73     1
18     0
118    2
78     1
76     1
31     0
64     1
141    2
68     1
82     1
Name: CLASS_ID, dtype: int64